[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ubuntu/Desktop/Jmeter.desktop]
row=2
col=0

[/home/ubuntu/Desktop/SikuliX.desktop]
row=1
col=0

[/home/ubuntu/Desktop/eclipse.desktop]
row=1
col=1

[/home/ubuntu/Desktop/Postman.desktop]
row=0
col=1

[/home/ubuntu]
row=0
col=0

